<?xml version="1.0" encoding="utf-8"?>

<!--
  ~ Copyright 2017 Diego Rossi (@_HellPie)
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~  limitations under the License.
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		  xmlns:tools="http://schemas.android.com/tools"
		  package="dev.hellpie.apps.music09.concept">

	<!-- To play music when the screen is off, prevents Deep Sleep from knocking us down -->
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

	<!-- To check and download updates automatically -->
	<uses-permission android:name="android.permission.INTERNET" />

	<application
			android:allowBackup="true"
			android:icon="@mipmap/ic_launcher"
			android:label="@string/app_name"
			android:supportsRtl="true"
			android:theme="@style/AppTheme"
			tools:ignore="AllowBackup,GoogleAppIndexingWarning">

		<activity
				android:name=".ui.activities.MainActivity"
				android:screenOrientation="userPortrait">
		</activity>

		<!--
		Show a nice loading screen while the app opens, this will be fast enough to only be seen:
			- On old devices with really crappy hardware
			- On first open for not over a second
			- On emulators cause they suck d***s
        -->
		<activity
				android:name=".ui.activities.SplashActivity"
				android:screenOrientation="userPortrait"
				android:theme="@style/SplashScreen">

			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>

			<meta-data
				android:name="android.app.shortcuts"
				android:resource="@xml/shortcuts" />
		</activity>

		<activity
				android:name=".ui.activities.PlayerActivity"
				android:screenOrientation="userPortrait">
		</activity>

		<!--
		Services are useful and need to be used in this kind of app because:
			- They can run in background, they do that natively
			- They are not connected to the app's lifecycle
			- They can control notifications asynchronously
			- They simply (almost) never block the rendering thread, so it's almost
			  like they don't exist for the user, unless you're a bad dev (I hope I'm not)
        -->
		<service
				android:name=".services.MusicPlayerService"
				android:enabled="true"
				android:exported="false">

			<intent-filter>
				<action android:name="dev.hellpie.apps.music09.ACTION_PLAY" />
				<action android:name="dev.hellpie.apps.music09.ACTION_PAUSE" />
				<action android:name="dev.hellpie.apps.music09.ACTION_TOGGLE_PLAYBACK" />
				<action android:name="dev.hellpie.apps.music09.ACTION_STOP" />
				<action android:name="dev.hellpie.apps.music09.ACTION_REWIND" />
				<action android:name="dev.hellpie.apps.music09.ACTION_SKIP" />
				<action android:name="dev.hellpie.apps.music09.ACTION_GO_BACK" />
			</intent-filter>
		</service>

		<receiver
				android:name=".services.UpdateReadyReceiver"
				android:enabled="true"
				android:exported="false">

			<intent-filter>
				<action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
				<action android:name="android.intent.action.DOWNLOAD_NOTIFICATION_CLICKED" />
			</intent-filter>
		</receiver>

		<activity
				android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
				android:name=".ui.activities.SettingsActivity"
				android:label="@string/activity_settings_name"
				android:exported="false"
				android:noHistory="true">

			<intent-filter>
				<action android:name="android.intent.action.APPLICATION_PREFERENCES" />
			</intent-filter>
		</activity>
	</application>
</manifest>
